<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <section>
        <div>
          <h3>Company</h3>
          <ul>
            <li><a>About Us</a></li>
            <li><a>Blog</a></li>
            <li><a>Careers</a></li>
            <li><a>Contact Us</a></li>
          </ul>
        </div>
        <div>
          <h3>Support</h3>
          <ul>
            <li><a>Help Center</a></li>
            <li><a>Safety Center</a></li>
            <li><a>Communnity Guidelines</a></li>
          </ul>
        </div>
        <div>
          <h3>Legal</h3>
          <ul>
            <li><a>Cookies Policy</a></li>
            <li><a>Privacy Policy</a></li>
            <li><a>Terms of Service</a></li>
            <li><a>Law Enforcement</a></li>
          </ul>
        </div>
        <div>
          <h3>Install App</h3>
          <div>
            <img src="/public/images/googlePlay.jpg" />
            <img src="/public/images/appStore.jpg" />
          </div>
        </div>
      </section>
      <section>
        <div>
            &copy; 2023 All rights reserved
        </div>
        <div>
            <i class="fab fa-instagram"></i>
            <i class="far fa-basketball-ball"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
        </div>
      </section>
    </footer>
  </body>
</html>
