<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>
<body class="home">
    <header class="home__header">
            <nav class="home__header__nav">
                <div class="home__header__nav__div1">  
                    <ul class="home__header__nav__ul1">
                        <li><a href="">mujeres</a></li>
                        <li><a href="">hombres</a></li>
                        <li><a href="">niños</a></li>
                        <li><a href="">deporte</a></li>
                        <li><a href="">tendencia</a></li>
                    </ul>
                </div>
                <div class="home__header__nav__div2">
                    <ul class="home__header__nav__ul2">
                        <li>
                            <a href=""><i class="fa-solid fa-truck-fast"></i></a>
                            <a href=""><i class="fa-solid fa-heart"></i></a>
                            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                            <button class="home__header--button"><a href="">ingresar</a></button>
                        </li>
                    </ul>
                </div> 
            </nav>
    </header>
</body>
</html>