<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/52f3957177.js" crossorigin="anonymous"></script>
    <title>D-toke | Home</title>
</head>

<body class="home">
    
    <main class="home__main">
        <section class="home__main__section__desktopage">

            <div class="desktopage__carouselBox">
                <div class="desktopage__carouselBox__imgBox">
                    <img src="/img/home-main/Carousel-desktopIMG-1.jpg" alt="">
                    <div class="pagination-carousel-container">
                        <div class="pagination-carousel">
                            <div class="pagination-button1"><a href=""></a></div>
                            <div class="pagination-button2"><a href=""></a></div>
                            <div class="pagination-button3"><a href=""></a></div>
                        </div>   
                    </div>
                    
                </div>
                <div class="desktopage__carouselBox__title">
                    <div class="desktopage__carouselBox__title__container">
                        <h4>
                            Style 
                        </h4>
                        <h4>
                            in 
                        </h4>
                        <h4>
                             Motion
                        </h4>
                    </div>

                    <p>
                        Hasta 20% OFF
                    </p>
                    <div class="buy-container">
                        <div class="buy-container-violeta">
                            <a href="/productDetail">Ver más</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="home__main__section__desktopage-marcas-box">
                <div class="home__main__section__desktopage-marcasContainer">
                    <div class="home__main__section__desktopage-marcas-img1">
                        <!-- <img src="/img/home-main/Marca-1.png" alt=""> -->
                    </div>
                    <div class="home__main__section__desktopage-marcas-img2">
                        <!-- <img src="/img/home-main/Marca-2.png" alt=""> -->
                    </div>
                    <div class="home__main__section__desktopage-marcas-img3">
                        <!-- <img src="/img/home-main/Marca-3.png" alt=""> -->
                    </div>
                    <div class="home__main__section__desktopage-marcas-img4">
                        <!-- <img src="/img/home-main/Marca-4.png" alt=""> -->
                    </div>
                    <div class="home__main__section__desktopage-marcas-img5">
                        <!-- <img src="/img/home-main/Marca-5.png" alt=""> -->
                    </div>
                </div>  
            </div>
            
           
        </section>
    </main>
</body>

</html>