<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body class="body__login">
    <div class="login">
      <header class="login__header">
        <span class="login__header-back">
          <img src="/images/back.png" />
        </span>
        <span class="login__header-logo">
          <img src="/images/logoIsra.png" alt="" />
        </span>
      </header>
      <h1>¡Bienvenido de nuevo! ¡Inicia sesión!</h1>
      <form>
        <div class="login__input">
          <div class="login__input-item">
            <input type="text" placeholder="Ingresa tu correo electrónico" />
          </div>
          <div class="login__input-item">
            <input type="password" placeholder="Ingresa tu contraseña" />
          </div>
        </div>
        <h5 class="login__text-recuperar">¿Olvidaste tu contraseña?</h5>
        <div class="login__button">
          <button>Registrese</button>
        </div>
      </form>
      <div class="login__footer">
        <h4>
          <span>O Registrese con</span>
        </h4>
        <div class="login__footer-redes">
          <span>
            <img src="/images/facebook_ic.svg" />
          </span>
          <span>
            <img src="/images/google_ic.svg" />
          </span>
          <span>
            <img src="/images/Vector.png" />
          </span>
        </div>
      </div>
      <div class="login__sesion">
        <h3>¿No tienes una cuenta?</h3>
        <a>Regístrate</a>
      </div>
    </div>
    <div class="login__tableAndDesktop">
        <div class="login__tableAndDesktop-content">
            <div class="login__tableAndDesktop-contain-1">
              <h2>Iniciar sesión</h2>
              <form>
              <p>Lorem Ipsum is simply dummy text of the printing and</br> typesetting industry.</p>
            <div class="logintableAndDesktop__input">
              <div class="logintableAndDesktop__input-item">
                <label for="">Ingresa tu correo electrónico</label>
                <input type="password" placeholder="Contraseña" />
              </div>
              <div class="logintableAndDesktop__input-item">
                <label for="">Ingresa tu contraseña</label>
                <input type="password" placeholder="Confirmar Contraseña" />
              </div>
              <div class="logintableAndDesktop__input-checkbox">
                <div class="logintableAndDesktop__input-checkbox-input" >
                    <input type="checkbox" id="forgot-password" name="forgot-password" class="custom-checkbox"/>
                    <label for="forgot-password">Recordarme</label>
                </div>
                <span>Olvidaste tu contraseña ?</span>
              </div>
            </div>
            <div class="logintabletAndDesktop__sesion">
              <h3>¿Ya tienes una cuenta?</h3>
              <a> Inicia sesión</a>
            </div>
            <div class="logintableAndDesktop__button">
              <button>Registrese</button>
            </div>
          </form>
        </div>
        <div class="login__tableAndDesktop-contain-2">
          <img class="imagelogin" src="/img/login/login-img.png" />
          <img class="logologin" src="/img/login/logo-login.png" />
        </div>
      </div>
    </div>
  </body>
</html>
