<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de producto</title>
</head>

<body class="productDetail">
    <main class="productDetail__main">
        <section class="productDetail__main__section">
            <article class="productDetail__main__section__article">
                <div class="productDetail__main__section__article--box-img">
                    <img src="/images/zapatillaNegra.webp" alt="" class="productDetail__main__section__article-img">
                </div>
                <div class="productDetail__main__section__article--datos-producto">
                    <h3>Nike Vapormax Flyknit 2.0</h3>
                    <p>Zapatillas deportivas Nike para hombre</p>
                    <h2>$31.000</h2>
                </div>
                <div class="productDetail__main__section__article--title-talles">
                    <p>Seleccionar talle (ARG)</p>
                    <div class="productDetail__main__section__article--select-talles">
                        <ul class="productDetail__main__section__article--select-talles-row">
                            <li><a href="#">35</a></li>
                            <li><a href="#">36</a></li>
                            <li><a href="#">37</a></li>
                            <li><a href="#">38</a></li>
                            <li><a href="#">39</a></li>
                        </ul>
                        <ul class="productDetail__main__section__article--select-talles-row">
                            <li><a href="#">40</a></li>
                            <li><a href="#">41</a></li>
                            <li><a href="#">42</a></li>
                            <li><a href="#">43</a></li>
                            <li><a href="#">44</a></li>
                        </ul>
                    </div>
                </div>
                <form action="" class="productDetail__main__section__article-buttons">
                    <button type="submit" class="productDetail__main__section__article--button">Comprar ahora</button>
                    <button type="submit" class="productDetail__main__section__article--button productDetail__main__section__article--button-add">Agregar al carrito de compra</button>
                </form>
                <p hidden class="productDetail__main__section__article-limited-product">Producto limitado</p>
                    <div class="productDetail__main__section__article-description">
                    <h4>Descripcion del producto</h4>
                    <p>Pocas dudas pueden quedar al respecto al señalar que la aparicion de las innovadoras Air Vapormax de Nike Running han marcado un antes y un despues en el catalogo de zapatillas para correr de la firma norteamericana. El primer objetivo de las Nike Air Vapormax esta mas que cumplido al ofrecer una combinacion dificil de batir de capacidad amortiguadora y gran ligereza...<a href="#" class="productDetail__main__section__article-description-more">Ver más</a></p>
                    
                    <ul>
                        <li>Color : Negra pipa Blanca</li>
                        <li>Estilo : AQ9129-500</li>
                    </ul>
                    </div>
                    <div class="productDetail__main__section__article-description-others">
                        <h4>Devoluciones y envios</h4>
                        <a href="#"><i class="fa-solid fa-chevron-down"></i></a>
                    </div>
                    <div class="productDetail__main__section__article-description-others">
                        <h4>Metodos de pago</h4>
                        <a href="#"><i class="fa-solid fa-chevron-down"></i></a>
                    </div>
                    <div class="productDetail__main__section__article-description-others">
                        <h4>Comparte</h4>
                        <a href="#"><i class="fa-solid fa-chevron-down"></i></a>
                    </div>
                
            </article>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
</body>

</html>