<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de producto</title>
</head>

<body class="productDetail">
    <main class="productDetail__main">
        <section class="productDetail__main__section">
            <article class="productDetail__main__section__article">
                <div class="productDetail__main__section__article--box-img">
                    <img src="/images/zapatillaNegra.webp" alt="" class="productDetail__main__section__article-img">
                </div>
                <div class="productDetail__main__section__article--datos-producto">
                    <h3>Nike Vapormax Flyknit 2.0</h3>
                    <p>Zapatillas deportivas Nike para hombre</p>
                    <h2>$31.000</h2>
                </div>
                <div class="productDetail__main__section__article--datos-talles">
                    <p>Seleccionar talle(ARG)</p>
                    <div class="productDetail__main__section__article--select-talle">
                        <input type="checkbox" name="talle" id="">
                        <input type="checkbox" name="talle" id="">
                        <input type="checkbox" name="talle" id="">
                        <input type="checkbox" name="talle" id="">
                        <input type="checkbox" name="talle" id="">
                        <input type="checkbox" name="talle" id="">
                        <input type="checkbox" name="talle" id="">
                        <input type="checkbox" name="talle" id="">
                        <input type="checkbox" name="talle" id="">
                        <input type="checkbox" name="talle" id="">
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>

</html>