<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>

</head>
<body>
    <div class="register">
        <header>
            <span>
                <img src="../public//images/back.png">
            </span>
            <span>
                <img src="../public/images/logoIsra.png" alt="">
            </span>
        </header>
        <h1>Hola! Regístrese para continuar</h1>
        <form>
            <div>
                <div>
                    <input type="text" placeholder="Nombre de usuario"/>
                </div>
                <div>
                    <input type="text" placeholder="Email"/>
                </div>
                <div>
                    <input type="password" placeholder="Contraseña"/>
                </div>
                <div>
                    <input type="password" placeholder="Confirmar Contraseña"/>
                </div>
            </div>
            <div>
                <button>Registrese</button>
            </div>
        </form>
        <div>
            <h4>
                O Registrese con
            </h4>
            <div>
                <span>
                    <img src="../public/images/facebook_ic.svg"/>
                </span>
                <span>
                    <img src="../public/images/google_ic.svg"/>
                </span>
                <span>
                    <img src="../public//images/Vector.png"/>
                </span>
            </div>
        </div>
        <div>
            <h3>¿Ya tienes una cuenta?</h3>
            <a> Inicia sesión</a>
        </div>
    </div>
</body>
</html>