:root {
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
}

/* MAIN */

body.productDetail {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.productDetail__main {
    margin: 20px 20px;
}

.productDetail__main__section__article--box-img {
    margin-top: 20px;
    width: 100%;
}

.productDetail__main__section__article-img {
    width: 100%;
    border-radius: 5px;
}

.productDetail__main__section__article--datos-producto {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.productDetail__main__section__article--datos-producto h3{
   font-size: 1.3rem;
   font-weight: 900;
}

.productDetail__main__section__article--datos-producto h2{
    font-size: 2rem;
    font-weight: 900;
    color: var(--colorBanner);
 }

 .productDetail__main__section__article-description-more {
    display: inline-block;
    text-decoration: underline;
    
 }

.productDetail__main__section__article--title-talles p{
    margin: 10px 0;
    font-weight: 500;
}

.productDetail__main__section__article--select-talles {
    display: flex;
    flex-direction: column;
}

.productDetail__main__section__article--select-talles-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
}

.productDetail__main__section__article--select-talles-row li {
    width: 18%;
    background: #202020;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}

.productDetail__main__section__article--select-talles-row li a{
    color: #fff; 
}

.productDetail__main__section__article-buttons {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 10px;
}

.productDetail__main__section__article--button {
    border: none;
    padding: 15px 10px;
    background: var(--colorBanner) ;
    color: #fff;
    border-radius: 8px;
    text-transform: uppercase;
}

.productDetail__main__section__article--button-add {
    background-color: #776d9a;

}

.productDetail__main__section__article-limited-product {
    margin-bottom: 15px;
    color: red;
    font-weight: 900;
    font-size: .8rem;
}

.productDetail__main__section__article-description {
    border-bottom: 1px solid #000;
    padding: 5px 0;
    color: var(--grisOscuro);
}

.productDetail__main__section__article-description ul li{
    list-style: inside;
}

.productDetail__main__section__article-description h4{
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 8px;
}

.productDetail__main__section__article-description p{
    font-size: .9rem;
    color: var(--grisOscuro);
}

.productDetail__main__section__article-description-others {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding: 5px 0;
    color: var(--grisOscuro);
}

.productDetail__main__section__article-description-others a{
   color: var(--grisOscuro);
}


