.result-container {
    width: 90%;
    margin: 2rem auto;      
}

.result-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.result__section__cards-product{
    width: 45%;
}

@media (min-width:600px) {

    .result__section__cards-product{
        width: 18%;
    }
}

@media(min-width: 744px) {

    .result-card{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .result__section__cards-product{
        width: 18%;
    }
}

@media (min-width: 1180px) {
    .result-container {
        width: 90%;
        margin: 2rem auto;      
    }

    .result-card{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .result__section__cards-product{
        width: 19%;
        position: relative;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }
    
    .result__section__cards-product:hover .add-cart {
        bottom: 10px;
        }

        .home__main__section__cards-img {
            overflow: hidden;
        }

        .result__section__cards-product img {
            object-fit: cover;
            transition: all .5s ease-in-out;
        }

        .result__section__cards-product img:hover {
            transform: scale(1.2);
        }
}

@media (min-width: 1440px) {

    .result-card{
        row-gap: 1rem;
    }

    .result__section__cards-product{
        width: 13%;
    }
}

